// app global css in SCSS form

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;600;700;800&display=swap');

$typography-font-family: 'Roboto', 'Noto Sans KR', 나눔고딕, 'Nanum Gothic', 'Malgun Gothic', 맑은고딕, 굴림, 돋움, 'Dotum', 'sans-serif' !default;

body {
    font-family: 'Roboto', 'Noto Sans KR', 나눔고딕, 'Nanum Gothic', 'Malgun Gothic', 맑은고딕, 굴림, 돋움, 'Dotum', 'sans-serif';
}

body.body--light {
    background: #f3f6f9;
}

@media (max-width: 790px) {
    .site-menu {
        display: none !important;
    }
}

.disabled,
.disabled *,
[disabled],
[disabled] *,
.q-field--disabled .q-field__inner {
    cursor: default !important;
}

.page-width {
    width: 1440px;
}

.q-header {
    background: #405189;
}

.q-footer {
    background: #f3f4f7;
}

.q-drawer {
    padding: 16px 0 16px 0;
}

.q-drawer .q-card {
    background: #f3f4f7;
}

.q-card {
    //background: #f3f6f9;
    border: 1px solid #eff2f5;
    box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05) !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.q-item {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.active-tab {
    background-color: rgba(25, 118, 210, 0.08);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.btn-fixed-width {
    width: 90px;
}

.colorType1 {
    background: #e1f8fc;
    color: #04a0f7;
}

.colorType2 {
    background: #e1f6e8;
    color: #21ba45;
}

.colorType3 {
    background: #ffefe2;
    color: #e5a902;
}

.colorType4 {
    background: #fde4e3;
    color: #c10015;
}

.q-dialog .q-card {
    border-radius: 0.55rem;
    -webkit-border-radius: 0.55rem;
    -moz-border-radius: 0.55rem;
    -ms-border-radius: 0.55rem;
    -o-border-radius: 0.55rem;
}

.list-header {
    background: rgba(25, 118, 210, 0.1) !important;
}

.q-item__section--side {
    align-items: center !important;
}
