// app global css in SCSS form

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;600;700;800&display=swap');

$typography-font-family: 'Roboto', 'Noto Sans KR', 나눔고딕, 'Nanum Gothic', 'Malgun Gothic', 맑은고딕, 굴림, 돋움, 'Dotum', 'sans-serif' !default;

body {
    font-family: 'Roboto', 'Noto Sans KR', 나눔고딕, 'Nanum Gothic', 'Malgun Gothic', 맑은고딕, 굴림, 돋움, 'Dotum', 'sans-serif';
}

.q-card {
    //background: #f3f6f9;
    border: 1px solid #eff2f5;
    box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05) !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
